.slider {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 757px;
    margin-top: 103px;
    background-color: #292929;
    color: #FFFFFF;
    text-align: center;

    .container {

        .side-nav {
            position: absolute;
            top: 50%;
            transform: translateY(-200%);

            &.left {
                left: 39px;
            }

            &.right {
                right: 39px;
            }
        }

        .slider-content {

            h2 {
                transform: translate(11px, -19px);
                font-family: 'Raleway', sans-serif;
                font-size: 62px;
                font-weight: 100;
            }

            h1 {
                position: relative;
                top: -15px;
                transform: translate(2px, 0);
                font-family: 'Montserrat', sans-serif;
                font-size: 74px;
                font-weight: 700;
                letter-spacing: -3px;
            }

            p {
                transform: translate(9px, -1px);
                font-family: 'Raleway', sans-serif;
                font-size: 20px;
                font-weight: 300;
                letter-spacing: -.2px;
                word-spacing: .9px;
            }

            a {
                display: inline-block;
                margin: 0;
                margin-top: 43px;
                padding: 12px 30px;
                transform: translate(12px, 0);
                border: 1px solid #FFFFFF;
                outline: 3px solid #3AB6B2;
                background-color: #3AB6B2;
                color: #FFFFFF;
                font-family: 'Raleway', sans-serif;
                font-size: 13px;
                font-weight: 700;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}
