.header {
    display: flex;
    position: fixed;
    z-index: 9;
    top: 0;
    justify-content: space-around;
    width: 100%;
    padding: 25px 0;
    background: #000000;

    .container {

        .logo {
            padding-left: 26px;
            float: left;
            transform: translateY(4px);
            background-image: url(../../../images/Logo.svg);
            background-repeat: no-repeat;
            background-position: 0 -2px;
            color: #FFFFFF;
            font-family: 'Raleway', sans-serif;
            font-size: 36px;
            font-weight: 300;
            line-height: 53px;
            text-transform: uppercase;
        }

        .nav {
            display: flex;
            align-items: center;
            padding: 18px 0;
            float: right;

            a {
                margin-right: 42px;
                color: #FFFFFF;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                font-weight: 300;
                text-decoration: none;
                text-transform: uppercase;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .burger {
            display: none;
            margin: 10px 0;
            padding: 10px;
            float: right;
            border: 1px solid #FFFFFF;
            outline: 2px solid #3AB6B2;
            background-color: #3AB6B2;

            span {
                display: block;
                width: 30px;
                height: 2px;
                margin-bottom: 3px;
                border-bottom: 2px solid #FFFFFF;

                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
    }
}
